<h1>Cadastra-se</h1>

<form [formGroup]="form">

  <label for="">Nome</label>

  <input formControlName="nome" name="nome">

  <label for="">Email</label>

  <input formControlName="email" name="email">

  <label for="">Senha</label>

  <input formControlName="senha" name="senha">

  <label for="">Data de Nascimento</label>

  <input formControlName="dataNascimento" name="dataNascimento">

  <label for="">Telefone</label>

  <input formControlName="telefone" name="telefone">

  <button [disabled]="!form.valid" (click)="cadastrar()">Login</button>

</form>
