<table>
  <tr *ngFor="let user of users">
    <td>Id: {{ user._id }}</td>
    <td>Name: {{ user.name }}</td>
    <td>Email: {{ user.email }}</td>
    <td>Password: {{ user.password }}</td>
    <td>BirthDay: {{ user.birthDay }}</td>
    <td>Telephone: {{ user.telephone }}</td>
    <td>
      <button (click)="doUser(user)" class="button" id="edit">Edit</button>
      <button (click)="deleteUser(user._id!)" class="button" id="delete">
        Delete
      </button>
    </td>
  </tr>
</table>
<button (click)="doUser()" id="NewUserButton">AddUser</button>
