<main>
  <h1>Login</h1>

  <div id="div-login">
    <form [formGroup]="form">
      <div class="fillIn">
        <label><p>Email</p></label>

        <input
          placeholder="exemplo@gmail.com"
          formControlName="email"
          name="email"
        />

        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"
        >
          Passe um email válido
        </span>

        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
        >
          Campo obrigatório
        </span>

      </div>

      <div class="fillIn">

        <label><p>password</p></label>

        <div id="password_login">

          <input
            placeholder="password"
            name="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
          />

          <button id="visual_password" (click)="changeShowPasswordStatus()">
            <span>{{ showPassword ? "O" : "O" }}</span>
          </button>

        </div>

        <span
          *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"
        >
          Campo obrigatório
        </span>

      </div>

    </form>

    <button id="login_button" [disabled]="!form.valid" (click)="sendLogin()">
      Login
    </button>

    <div id="newUser">

    <p class="newUser">Não tem conta?</p><a id="changePage" (click)="newUserPage()">Cadastra-se</a>

    </div>
  </div>

</main>
