<main>
  <h1>Login</h1>

  <div id="div-login">
    <form [formGroup]="form">
      <div class="preencher">
        <label><p>Email</p></label>

        <input
          placeholder="exemplo@gmail.com"
          formControlName="email"
          name="email"
        />

        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"
        >
          Passe um email válido
        </span>

        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
        >
          Campo obrigatório
        </span>
      </div>

      <div class="preencher">
        <label><p>Senha</p></label>
        <div id="senha_login">
          <input
            placeholder="senha"
            name="senha"
            formControlName="senha"
            [type]="showPassword ? 'text' : 'password'"
          />

          <button id="visual_senha" (click)="changeShowPasswordStatus()">
            <span>{{ showPassword ? "O" : "O" }}</span>
          </button>
        </div>
        <span
          *ngIf="form.get('senha')?.touched && form.get('senha')?.errors?.['required']"
        >
          Campo obrigatório
        </span>
      </div>
    </form>
    <button id="login_button" [disabled]="!form.valid" (click)="enviarLogin()">
      Login
    </button>
    <button (click)="cadastroPage()">Não tem conta? Clique aqui</button>
  </div>
</main>
