<main>
  <h1>Login</h1>

  <div id="div-login">
    <form [formGroup]="form">
      <div class="fillIn">
        <label><p>Email</p></label>

        <input
          placeholder="exemple@gmail.com"
          formControlName="email"
          name="email"
        />

        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"
        >
          Invalid email format
        </span>

        <span
          *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
        >
          Required field
        </span>
      </div>

      <div class="fillIn">
        <label><p>Password</p></label>

        <div id="password_login">
          <input
            placeholder="password"
            name="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
          />

          <button id="visual_password" (click)="changeShowPasswordStatus()">
            <span>{{ showPassword ? "O" : "O" }}</span>
          </button>
        </div>

        <span
          *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"
        >
          Required field
        </span>
      </div>
    </form>

    <button
      [ngStyle]="{ 'background-color': form.valid ? '#0000ff' : '#add8e6' }"
      id="login_button"
      [disabled]="!form.valid"
      (click)="sendLogin()"
    >
      Login
    </button>

    <div id="newUser">
      <p class="newUser">Don`t have a account?</p>
      <a id="changePage" (click)="newUserPage()">Register</a>
    </div>
  </div>
</main>
